.container {
  max-width: $website-width;
  margin: auto;
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}

.btn {
  font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-color: $secondary-color;
}

hr.dotted {
  border-top: 1px dotted;
  border-bottom: none;
  margin: 4rem 2rem;
 }

 .ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.6;
  z-index: 0;
}


.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}